.numbers{
    font-size:25px !important;
}

.image_header_go{

    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.des{
    background-color:white
}
.eric_button{
    margin:5px !important;
}

