.numbers{
    font-size:25px !important;
}

.image_header_go{

    min-width: 100%;
    min-height: 100%;
    padding: 0;
    margin: 0;
}

.des{
    background-color:white
}
.eric_button{
    margin:5px !important;
}
.spinner {
    border: 16px solid #f3f3f3; /* Light grey */
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.spinner .des {
    display:none
}

.sensors {
    list-style-type: none;
}

.clickable{
    cursor: pointer;   
}

.panel-heading span {
	margin-top: -20px;
	font-size: 15px;
}
.smi{
    padding:0 !important
}
.des{
    margin:10 !important
}

.collaps-title{
    font-weight: 300;
    color:#333333;
    font-size:22px !important;
}